<footer class="usa-footer usa-footer--big chp-footer" role="contentinfo">
    <div class="grid-container usa-footer__return-to-top">
      <a href="#top">Return to top</a>
    </div>
<!--   <div class="usa-footer__primary-section">
      <div class="grid-container">
          <div class="tablet:grid-col-4">
            <div class="grid-row grid-gap mobile-lg:grid-gap-0">
              <div class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                <a class="chp-footer__changelog-link" href="{{site.baseurl}}/changelog/">
                  All recent changes to this site
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> --> 
    <div class="usa-footer__secondary-section chp-footer-secondary">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
            <div class="mobile-lg:grid-col-auto">
              <img class="usa-footer__logo-img chp-footer-secondary__logo" src="{{ site.baseurl }}/assets/img/usds-logo-footer.svg" alt="USDS logo">
            </div>
            <div class="mobile-lg:grid-col-auto">
              <h3 class="usa-footer__logo-heading">U.S. Digital Service</h3>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <h3 class="usa-footer__contact-heading">
              Discovery Sprint Guide
            </h3>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <!-- <div class="grid-col-auto">
                  <a href="mailto:contact@usds.gov" class="chp-footer-secondary__link">Contact us</a>
                </div> -->
                <div class="grid-col-auto">
                  <a href="https://www.usds.gov/privacy" class="chp-footer-secondary__link" target="_blank" rel="noreferrer">Privacy Policy</a>
                </div>
              </div>
            </address> 
          </div>
        </div>
      </div>
    </div>
  </footer>