<nav aria-label="Primary navigation" class="usa-nav">
  <div class="usa-nav__inner">
    {% assign primary_links = site.data.navigation.primary %}
    {% if primary_links %}
    <ul class="usa-nav__primary usa-accordion">
      {% for _section in primary_links %} 
        <li class="usa-nav__primary-item">
          <a class="{% if _section.class %}{{ _section.class }}{% else %} usa-nav-link {% endif %} 
            {% if _section.name == page.sidenav %} usa-current{% endif %}" 
            href="{% if _section.external %}{{ _section.href }}{% else %}{{ _section.href | relative_url }}{% endif %}">
            <span>{{ _section.text }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</nav>