<nav aria-label="Primary navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link usa-current" href="/"><span>Home</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/interview/"><span>Interview Guide</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="/writing/"><span>Writing Guide</span></a>
        </li>
<!--        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>Case Studies</span></a>
        </li> -->
      </ul> 
    </div>
</nav>