/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
*/

/* FOOTER */

.usa-footer__logo-img { max-width: 6rem; }

.usa-footer__secondary-section { padding-bottom: 2rem ; padding-top: 2rem ; background-color: #0071bc; }

.usa-footer__secondary-section a { color: #FFFFFF; }

.usa-footer__secondary-section { color: #FFFFFF; }

/* .usa-nav__link .usa-current a { color: #000000; } */

/* Side Navigation */

/* Browser is at least 1024px and above */
@media (min-width: 1024px) {
    .usa-sticky-sidenav {
        align-self: flex-start;
        max-height: 100vh;
        overflow-y: auto;
        position: sticky;
        top: 0;
    }
}

.usa-layout-docs-sidenav { 
  order: 2; 
  padding-top: 2rem; 
}

@media all and (min-width: 64em) { 
  .usa-layout-docs-sidenav {
    width: 25%;
    padding-top: 0; 
  }

  .usa-layout-docs-main  {
    width: 75%;
    order: 2;
  }
}

/* Highlight */
.guide-usds {
  border-left: 4px solid #696969;
  padding: 1.5rem;
  background-color: #efefef;
}

.guide-highlight {
  border-left: 4px solid #005ea2;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: #ffffff;
  line-height: 1.5;
  color: #005ea2;
}

blockquote {
  margin-inline-start: 0px;
  max-width: 68ex;
}

blockquote p {
  background-color: #eff6fb;
  padding: 1.5rem;
  border-left: 4px solid #00cfff;
}

