/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
*/

/* Banner icon styling */
@media (min-width: 40em) {
  .usa-banner__button::after {
    background: 0 0;
    background-color: #005ea2;
    -webkit-mask: url("../uswds/img/angle-arrow-down-primary.svg") no-repeat center/1.3128205128ex .8ex;
  }
}

/* Side Navigation */
.usa-layout-docs-sidenav { 
  order: 2; 
  padding-top: 2rem; 
}

/* Browser is at least 1024px and above */
@media all and (min-width: 64em) { 
  .usa-sticky-sidenav {
    align-self: flex-start;
    max-height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
  }

  .usa-layout-docs-sidenav {
    width: 25%;
    padding-top: 0; 
  }

  .usa-layout-docs-main  {
    width: 75%;
    order: 2;
  }

  .usa-footer__logo-img {
    max-width: 6rem;
  }
}

/* Call out styles */
.guide-usds {
  border-left: 4px solid #696969;
  padding: 1.5rem;
  background-color: #efefef;
}

.guide-highlight {
  font-family: 'Merriweather Web';
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  margin-inline-start: 1rem;
  max-width: 45ex !important;
}

blockquote {
  margin-inline-start: 0px;
  max-width: 68ex;
}

blockquote p {
  background-color: #eff6fb;
  padding: 1.5rem;
  border-left: 4px solid #00cfff;
}

/* Footer styles */
.usa-footer__logo-img { max-width: 6rem; }

.usa-footer__secondary-section { padding-bottom: 2rem ; padding-top: 2rem ; background-color: #0071bc; }

.usa-footer__secondary-section a { color: #FFFFFF; }

.usa-footer__secondary-section { color: #FFFFFF; }

/* Footer formatting for mobile */
@media all and (max-width: 30em) { 
  .usa-footer__logo-img {
    max-width: 10rem;
    display: block;
    margin: 0 auto;
  }

  .usa-footer__logo {
    width: 100%;
  }

  .usa-footer__logo-heading {
    font-size: 1rem;
    text-align: center;
  }

  .usa-footer__contact-links {
    width: 100%;
  }

  .usa-footer__contact-heading {
    font-size: 1.4rem;
    text-align: center;
  }
  
  .usa-footer__contact-info {
    justify-content: center;
  }
}

