/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
*/

/* FOOTER */

.usa-footer__logo-img { max-width: 6rem; }

.usa-footer__secondary-section { padding-bottom: 2rem ; padding-top: 2rem ; background-color: #0071bc; }

.usa-footer__secondary-section a { color: #FFFFFF; }

.usa-footer__secondary-section { color: #FFFFFF; }

/* .usa-nav__link .usa-current a { color: #000000; } */

/* Side Navigation */

/* Browser is at least 1024px and above */
@media (min-width: 1024px) {
    .usa-sticky-sidenav {
        align-self: flex-start;
        max-height: 100vh;
        overflow-y: auto;
        position: sticky;
        top: 0;
    }
}

@media all and (min-width: 64em) { .usa-layout-docs__sidenav { padding-top: 0; } }

@media all and (min-width: 64em) { .usa-layout-docs__main { order: 2; } }

@media (min-width: 64em) { 
  .usa-layout-docs__sidenav {
    width: 25%;
  }

  .usa-layout-docs__main  {
    width: 75%;
  }
}


/* Highlight */
.guide-highlight, .guide__download__bg {
    background-color: #eff6fb;
    padding: 1.5rem;
  }
  
  .guide-highlight {
    border-left: 4px solid #00cfff;
  }

  blockquote p, .guide-note {
    background-color: #eff6fb;
    padding: 1.5rem;
    border-left: 4px solid #00cfff;
  }

  blockquote {
      margin-inline-start: 0px;
      max-width: 68ex;
  }