.usa-footer__logo-img { max-width: 6rem; }

.usa-footer__secondary-section { padding-bottom: 2rem ; padding-top: 2rem ; background-color: #0071bc; }

.usa-footer__secondary-section a { color: #FFFFFF; }

.usa-footer__secondary-section { color: #FFFFFF; }

/* .usa-nav__link .usa-current a { color: #000000; } */