.usa-footer__logo-img { max-width: 10rem; }

.usa-footer__secondary-section { padding-bottom: 1.25rem ; padding-top: 1.25rem ; background-color: #0071bc; }

.usa-footer__secondary-section a { color: #FFFFFF; }