<!DOCTYPE html>
<html lang="en-US" id="top">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>

    <meta name="description" content='{{site.description}}'>

    <meta name="robots" content="noindex, nofollow" />
    
  <!-- Favicons ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/img/favicon-16x16.png">

  <!-- CSS ================================================== -->
    <link rel="stylesheet"
      href="/assets/css/uswds-theme.css"
      media="screen">

      <link rel="stylesheet"
      href="/assets/css/custom-styles.css"
      media="screen">
    
  </head>

  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    {% include _banner.html %}
    {% include _header.html %}
    <div class="usa-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          {% assign sidenav = site.data.navigation[page.sidenav] | default: page.sidenav %}
          <div class="usa-layout-docs-sidenav desktop:grid-col-3{% if page.sticky_sidenav %} usa-sticky-sidenav{% endif %}">
            {% include _sidenav.html links=sidenav %}
          </div>
          <main class="usa-layout-docs-main desktop:grid-col-9 usa-prose" id="main-content">
              {{ content }}
          </main>
        </div>
      </div>
    </div>

{% include _footer.html %}

      <script src="/assets/uswds/js/uswds.min.js" async></script>
      <script src="/assets/js/app.js" async></script>
    
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132706295-1"></script>
      <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'UA-132706295-1', { 'anonymize_ip': true });
      </script>
    
  </body>
</html>
